@model IEnumerable<Tarefa>
@{
    ViewData["Title"] = "Todas as Tarefas";
    Layout = "~/Views/Shared/_tarefaLayout.cshtml";
}
<a asp-action="AddTarefa" class="btn btn-sm btn-primary">Incluir Tarefa</a>
<a asp-action="GetTarefa" class="btn btn-sm btn-secondary">Obter Tarefa</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Atualiza</th>
            <th>Deleta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.CD_TAREFA</td>
                <td>@r.DS_TAREFA</td>
                <td>@r.DT_CADASTRO</td>
                <td>
                    <a asp-action="UpdateTarefa" asp-route-id="@r.CD_TAREFA"><img src="/icon/edit.png" /></a>
                </td>
                <td>
                    <form asp-action="DeleteTarefa" method="post">
                        <input type="hidden" value="@r.CD_TAREFA" name="CD_TAREFA" />
                        <input type="image" src="/icon/close.png" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>